<<<<<<< HEAD
gbody {
	background-color: #f037a5;
=======
body {
	background-color: #F0A500;
>>>>>>> c1388a7265af5902403110238b37eb87319fc216
}
hr {
	border-style: dotted none none;
	border-width: 7px;
	border-color: grey;
	width: 7%;
}
h1,
h2,
h3,
h4 {
	color: #66bfbf;
}
