body {
	background-color: #f2f0ed;
}
hr {
	border-style: dotted none none;
	border-width: 7px;
	border-color: rgb(156, 165, 156);
	width: 8%;
}
h1,
h2,
h3,
h4 {
	color: #66bfbf;
}
.container {
	max-width: 800px;
	margin: auto;
	border: solid 1px;
	padding: 10px;
}
