body {
<<<<<<< HEAD
	background-color: #78d865;
=======
	background-color: #f2f0ed;
>>>>>>> a2487cb7b27587dc9c811b1e31d4d339ca7dc548
}
hr {
	border-style: dotted none none;
	border-width: 7px;
	border-color: grey;
	width: 7%;
}
h1,
h2,
h3,
h4 {
	color: #66bfbf;
}
